.App {
  text-align: center;
  background-color: rgb(50, 50, 50);
  color: white;
  height: 100%;
}

.app-bar {
  background-color: black;
}

li {
  list-style-position: inside;
  list-style-type: circle;
  padding-left: 16px;
}

body {
  height: max-content;
  background-color: green;
  font-size: larger;
  height: 100vh;
}

a {
  color: darkred;
  text-decoration: none;
}

#root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  margin: 0px;
  height: 10vh;
  font-size: xx-large;
  align-content: center;
  text-align: center;
}

.navbar-accordion-link {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
}

.navbar-button {
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
}

.menu-button {
  padding: 16px;
  font-size: x-large;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button.in-text {
  margin: 0;
}

.menu-button a {
  color: white;
}

.menu-button:hover {
  background-color: rgb(159, 190, 193);
}

.step-navigation {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.start-menu-container {
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.start-menu-container a {
  text-decoration: none;
  color: inherit;
}

.nav ul {
  padding: 0;
}

.nav ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav li {
  font-size: x-large;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
  background-color: rgba(50, 50, 50, 0.8);
}

.nav li:hover {
  background-color: rgba(159, 190, 193, 0.8);
}

.main-content {
  overflow-y: scroll;
  height: 90vh;
  overflow-x: hidden;
}

.text-container {
  text-align: left;
  text-align: justify;
}

.nav-list li.active {
  background: rgba(124, 148, 150, 0.8);
}

.active-link {
  background: rgba(124, 148, 150, 0.8);
}

.tooltip-text {
  display: inline;
  color: rgb(124, 148, 150);
  position: relative;
}

.tooltip-content {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  visibility: hidden;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.tooltip.top {
  bottom: 1.5em;
}

.tooltip.bottom {
  top: 1.5em;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}
.icon {
  height: 1em;
  width: 1em;
}

.icon-arrange {
  display: inline-block;
}

.reset-view-button {
  position: relative;
  bottom: 30px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 736px) {
  .nav-list {
    position: relative;
    transition: left .5s ease-in-out;
    height: 70vh;
    overflow-y: scroll;
  }

  .nav li {
    width: 170px;
  }

  .sidebar {
    position: absolute;
    z-index: 1000;
    width: fit-content;
  }

  .nav-toggle {
    font-size: xx-large;
    cursor: pointer;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 33px;
    background-color: rgba(50, 50, 50, 0.8);
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.8);
    transition: background-color .5s ease-in-out;
  }

  .model-view {
    height: 50vh;
  }
  .first-menu-button {
    margin-left: 220px;
  }
}

@media (min-width: 737px) {
  .nav-toggle {
    display: none;
  }

  .text-view {
    padding-left: 15px;
  }
}