.App {
  text-align: center;
  background-color: rgb(50,50,50);
  color: white;
  height: 100%;
}

body{
  height: max-content;
  background-color: green;
  font-size: larger;
}

#root{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  margin: 0px;
  height: 10vh;
  font-size: xx-large;
  align-content: center;
  text-align: center;
}

.menu-button{
  padding: 20px;
  font-size: x-large;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.menu-button:hover{
  background-color: rgb(159, 190, 193);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  color: darkred;
  text-decoration: none;
}
.start-menu-container{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-menu-container a {
  text-decoration: none;
  color: inherit;
}

.nav ul{
  list-style: none;
}

.nav a{
  text-decoration: none;
  color: inherit;
}

.nav li{
  font-size: x-large;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.nav li:hover{
  background-color: rgb(159, 190, 193);
}

.sidebar{
  float: left;
  width: 20vw;
}

.main-content{
  overflow:hidden; 
}

.main-container{
  height: 90vh;
}

.text-container{
  text-align: left;
  padding: 20px;
}

.tooltip-text{
  display: inline;
  color: rgb(124, 148, 150);
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  visibility: hidden;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}

.model-and-text{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.model-view{
  min-width: 400px;
  max-width: 1200px;
  flex-grow: 1;
  height: 80vh;
}

.text-view{
  min-width: 300px;
  height: 80vh;
  flex-grow: 1;
}